<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="catalogo_action" model="ir.actions.act_window">
            <field name="name">Catalogo</field>
            <field name="res_model">catalogue.catalogue</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem name="Catalogo de Compra" id="catalogocompra_root_menu" />
        <menuitem id="catalogo_menu" name="Catalogo" parent="catalogocompra_root_menu" action="catalogo_action" sequence="1"/>

    </data>
</odoo>