<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <record id="partidas_pendientes_action" model="ir.actions.act_window">
            <field name="name">Partidas Pendientes</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">partidas.partidas</field>
            <field name="view_mode">tree,form</field>
        </record>

    </data>
</odoo>