<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!--Fase Inicial-->
        <record id="fase_principal_action" model="ir.actions.act_window">
            <field name="name">Fase Inicial</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">fase.principal</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!--Capitulos-->
        <record id="capitulos_action" model="ir.actions.act_window">
            <field name="name">Capitulo</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">capitulo.capitulo</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!--Subcapitulo-->
        <record id="subcapitulo_action" model="ir.actions.act_window">
            <field name="name">SubCapitulo</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">sub.capitulo</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!--Partidas-->
        <record id="partidas_action" model="ir.actions.act_window">
            <field name="name">Partidas</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">partidas.partidas</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!--Items-->
        <record id="items_action" model="ir.actions.act_window">
            <field name="name">Items</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">item.capitulo</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem name="Capitulos" id="capitulo_root_menu"/>
        <menuitem name="Fase Inicial" id="fase_principal_menu" parent="capitulo_root_menu"
                  action="fase_principal_action" sequence="1"/>
        <menuitem name="Capitulos" id="capitulo_menu" parent="capitulo_root_menu" action="capitulos_action"
                  sequence="2"/>
        <menuitem name="SubCapitulos" id="subcapitulo_menu" parent="capitulo_root_menu" action="subcapitulo_action"
                  sequence="3"/>
        <menuitem name="Partidas" id="partidas_menu" parent="capitulo_root_menu" action="partidas_action" sequence="4"/>
        <menuitem name="Items" id="items_menu" parent="capitulo_root_menu" action="items_action" sequence="5"/>

        <!--        prueba-->
        <record id="partidas_pendientes_action" model="ir.actions.act_window">
            <field name="name">Partidas Pendientes</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">partidas.partidas</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[('estado_partida', '=', 'pendiente')]</field>
        </record>

        <menuitem name="Partidas Pendientes" id="par_menu" action="partidas_pendientes_action" sequence="6"/>


        <!--Menu en proyecto/configuracion para las etapas-->
        <record id="etapas_action" model="ir.actions.act_window">
            <field name="name">Etapas</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">stage.stage</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem name="Etapas" id="etapas_menu" action="etapas_action" parent="project.menu_project_config"
                  sequence="6"/>


    </data>
</odoo>