<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="item_action" model="ir.actions.act_window">
            <field name="name">Items</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">item.item</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="fase_action" model="ir.actions.act_window">
            <field name="name">Fase</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">fase.fase</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem id="menu_root" name="Vertical de Construcción" sequence="1"/>
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="menu_item" name="Items" parent="menu_root" action="item_action" sequence="1"/>
        <menuitem id="menu_fase" name="Fases" parent="menu_root" action="fase_action" sequence="2"/>
    </data>
</odoo>