<odoo>
  <data>

<!--    <record model="ir.actions.act_window" id="standard_tags_action_window">-->
<!--      <field name="name">Standard Tags</field>-->
<!--      <field name="res_model">standard.tags</field>-->
<!--      <field name="view_mode">tree</field>-->
<!--    </record>-->
    
    <record model="ir.actions.act_window" id="standard_action_window">
      <field name="name">Standard</field>
      <field name="res_model">standard</field>
      <field name="view_mode">tree,form</field>
    </record>

<!--    <record model="ir.actions.act_window" id="standard_request_action_window">-->
<!--      <field name="name">Standard Request</field>-->
<!--      <field name="res_model">standard.request</field>-->
<!--      <field name="view_mode">tree,form</field>-->
<!--      <field name="search_view_id" ref="standard_request_filter"/>-->
<!--    </record>-->

<!--    <record id="action_standard_request_config" model="ir.actions.act_window">-->
<!--      <field name="name">Settings</field>-->
<!--      <field name="type">ir.actions.act_window</field>-->
<!--      <field name="res_model">res.config.settings</field>-->
<!--      <field name="view_mode">form</field>-->
<!--      <field name="target">inline</field>-->
<!--      <field name="context">{'module' : 'standard_request'}</field>-->
<!--    </record>-->

<!--    <record model="ir.actions.act_window" id="actions_wizard_report">-->
<!--      <field name="name">Reporte Consumo</field>-->
<!--      <field name="res_model">standard.request.report</field>-->
<!--      <field name="view_mode">form</field>-->
<!--      <field name="target">new</field>-->
<!--    </record>-->


        <!-- Top menu item -->
    <menuitem name="Standards" id="menu_root"/>

    <!-- menu categories -->
<!--    <menuitem name="Standard" id="menu_requets" parent="menu_root" sequence="1" action="standard_request_action_window"/>-->
<!--    <menuitem name="Configuracion" id="menu_config" parent="menu_root" sequence="50"/>-->

    <!-- actions -->
<!--    <menuitem name="Standard" id="config_standard" parent="menu_config" action="standard_action_window"/>-->
    <menuitem name="Standard" id="menu_standard" parent="menu_root" action="standard_action_window"/>

    <menuitem name="Standards" id="menu_standard_vertical" parent="project_vertical_building.menu_config" action="standard_action_window" sequence="2"/>

<!--    <menuitem name="Etiquetas" id="config_tags" parent="menu_config" action="standard_tags_action_window"/>-->

<!--    <menuitem name="Informe" action="actions_wizard_report" parent="standard_requests.menu_root"-->
<!--              id="menu_wizard_report"-->
<!--              sequence="16"/>-->

<!--    <menuitem id="menu_standard_request_config" name="Settings"-->
<!--              parent="standard_requests.menu_config"-->
<!--              sequence="0" action="action_standard_request_config"-->
<!--              groups="base.group_system"/>-->
      <record model="ir.actions.server" id="action_add_standards">
        <field name="name">Agregar Standards</field>
        <field name="model_id" ref="project_vertical_building.model_vertical_stage"/>
        <field name="binding_model_id" ref="project_vertical_building.model_vertical_stage" />
        <field name="state">code</field>
        <field name="code">
               if records:
                   action = records.add_standars()
        </field>
      </record>

  </data>
</odoo>
